{% extends "base.html" %}
{% block title %}Painel — Admin{% endblock %}

{% block body %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h2 class="fw-semibold text-white">Painel Administrativo</h2>
  <a class="btn" href="{{ url_for('adicionar_item') }}" style="background-color: white;">
    + Adicionar item  
  </a>
</div>

<div class="row">
  {% for foto in fotos %}
  <div class="col-md-4 mb-4">

    <div class="card shadow-sm h-100"
         style="background-color: transparent; border-radius: 12px; border-color: black;">

      <img src="{{ url_for('static', filename=foto.caminho_imagem) }}"
           class="card-img-top"
           style="height: 200px; object-fit: cover;
                  border-top-left-radius:12px;
                  border-top-right-radius:12px;">

      <div class="card-body text-white d-flex flex-column">

        <h6 class="fw-bold">{{ foto.titulo }}</h6>

        <p class="text-truncate flex-grow-1">
          {{ foto.descricao }}
        </p>

        <div class="d-flex gap-2 mt-2">
          <a href="{{ url_for('editar_item', item_id=foto.id) }}"
             class="btn btn-sm btn-dark w-50">
            Editar
          </a>

          <a href="{{ url_for('remover_item', item_id=foto.id) }}"
             class="btn btn-sm btn-outline-light w-50">
            Remover
          </a>
        </div>

      </div>
    </div>

  </div>
  {% else %}
    <p class="text-center text-white">Nenhum item cadastrado.</p>
  {% endfor %}
</div>

{% endblock %}