{% extends "base.html" %}
{% block title %}Criar Conta — Achados & Perdidos{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <div class="card shadow-lg" style="width: 500px; border-radius: 15px; background-color: transparent; border-color: black;">

    <div class="card-body">
      <h4 class="text-center mb-4 text-white">Cadastro de Conta</h4>

      <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3 text-white">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control", placeholder='Ex: usuário01', maxlength=20, style="background-color: #dad9c9;") }}
        </div>

        <div class="mb-3 text-white">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control", placeholder='Ex: abcd@gmail.com', maxlength=120, style="background-color: #dad9c9;") }}
        </div>

        <div class="mb-3 text-white">
          {{ form.senha.label(class="form-label") }}
          {{ form.senha(class="form-control", placeholder='Ex: 123456', minlength=6, maxlength=12, style="background-color: #dad9c9;") }}
        </div>

        <div class="mb-3 text-white">
          {{ form.confirmar_senha.label(class="form-label") }}
          {{ form.confirmar_senha(class="form-control", placeholder='Repita sua senha', minlength=6, maxlength=12, style="background-color: #dad9c9;")
          }}
        </div>

        <div class="d-grid">
          {{ form.submit(class="btn btn-dark") }}
        </div>
      </form>

          <hr>
      <p class="small text-center mb-0 text-white">
        Somente administradores têm login. Alunos acessam o feed sem conta.
      </p>

    </div>

  </div>
</div>
{% endblock %}