{% extends "base.html" %}
{% block title %}Editar Item{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">

  <div class="col-md-6 col-lg-5">
    <div class="card shadow-lg border-0" style="border-radius: 15px; background-color: transparent;">
      
      <div class="card-body p-4 text-white">
        <h4 class="mb-4 text-center ">Editar item</h4>

        <form method="POST" enctype="multipart/form-data">

          <div class="mb-3">
            <label class="form-label">Título</label>
            <input class="form-control"
                   name="titulo"
                   value="{{ foto.titulo }}"
                   maxlength="120"
                   required
                   style="background-color: #e9ecef;">
          </div>

          <div class="mb-3">
            <label class="form-label">Descrição</label>
            <textarea class="form-control"
                      name="descricao"
                      rows="4"
                      style="background-color: #e9ecef;">{{ foto.descricao }}</textarea>
          </div>

          <div class="mb-3">
            <label class="form-label">Alterar imagem</label>
            <input type="file"
                   class="form-control"
                   name="imagem"
                   style="background-color: #e9ecef;">
          </div>

          <div class="d-grid">
            <button class="btn btn-dark">Salvar alterações</button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>
{% endblock %}
