{% extends "base.html" %}
{% block title %}Achados & Perdidos{% endblock %}

{% block body %}

<div class="d-flex flex-column justify-content-center align-items-center mt-4">
  <h1 class="fw-semibold mb-2 text-center text-white">
    Bem-Vindo(a) ao Achados & Perdidos
  </h1>
</div>

<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">

  <div class="card shadow-lg border-0 text-center p-4"
       style="width: 28rem; border-radius: 15px; background-color: transparent;">

    <div class="card-body text-white">

      <h4 class="fw-semibold mb-3">Selecione como deseja acessar</h4>

      <p class="mb-4 text-white">
        Alunos acessam o feed sem conta.<br>
        Administradores devem fazer login ou cadastro.
      </p>

      <form method="POST" class="d-flex flex-column align-items-center gap-3">

        <button type="submit" name="perfil" value="aluno"
                class="btn btn-dark btn-lg w-75">
          Aluno
        </button>

        <button type="submit" name="perfil" value="admin"
                class="btn btn-dark btn-lg w-75">
          Administrador
        </button>

      </form>

    </div>
  </div>

</div>

{% endblock %}