{% extends "base.html" %}
{% block title %}Login — Achados & Perdidos{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="row justify-content-center w-100">
    <div class="col-md-6 col-lg-5">

      <div class="card shadow-lg border-0" style="border-radius: 15px; width: 100%; background-color: transparent;">
        <div class="card-body p-4">

          <h4 class="card-title mb-4 text-center text-white">
            Login Administração
          </h4>

          <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3 text-white">
              {{ form.email.label(class="form-label") }}
              {{ form.email(class="form-control", maxlength=120, placeholder='Ex: abc@gamil.com',style="background-color: #e9ecef;") }}
            </div>

            <div class="mb-3 text-white">
              {{ form.senha.label(class="form-label") }}
              {{ form.senha(class="form-control", placeholder='Ex: 123456', minlength=6, style="background-color: #e9ecef;") }}
            </div>

            <div class="d-grid">
              {{ form.submit(class="btn btn-dark") }}
            </div>
          </form>

          <hr>
          <p class="small text-center mb-0 text-white">
            Somente administradores têm login. Alunos acessam o feed sem conta.
          </p>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
